.banner-text {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 80px;
}

.banner-span {
  color: #0077ff;
  border-bottom: 0.5rem solid #B7D9FF;
  background-color: #e5f1ff;
}

.text-17 {
    font-size: 1.7rem;
}