.nav-items {
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 868px) {
  .nav-items {
    display: flex;
  }

  /* .nav-link-toggle {
    display: hidden;
  } */
}
