.nav-items {
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-link-toggle {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 868px) {
  .nav-items {
    display: flex;
  }
}

@media only screen and (min-width: 869px) {
  .nav-link-toggle {
    display: none;
  }
}
