@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url(./assets/fonts/Inter/static/Inter-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter" !important;
}

code {
  font-family: source-code-pro, "Inter", Monaco, Consolas, "Courier New",
    monospace;
}
